In [1]:
import pandas as pd

In [8]:
adult_df = pd.read_csv('./dmba/adult.data')

In [9]:
# describe df
adult_df.head(1)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [11]:
adult_df.shape

(32560, 15)