In [25]:
# import required packages
%matplotlib inline
from pathlib import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

import matplotlib.pylab as plt

In [26]:
cars_df = pd.read_csv('ToyotaCorolla.csv')

In [27]:
cars_df.shape

(1436, 39)

In [28]:
cars_df.head(5)

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [30]:
cars_df['Fuel_Type'] = cars_df['Fuel_Type'].astype('category')
# housing_df.REMODEL = housing_df.REMODEL.astype('category')

In [31]:
cars_df.dtypes

Id                      int64
Model                  object
Price                   int64
Age_08_04               int64
Mfg_Month               int64
Mfg_Year                int64
KM                      int64
Fuel_Type            category
HP                      int64
Met_Color               int64
Color                  object
Automatic               int64
CC                      int64
Doors                   int64
Cylinders               int64
Gears                   int64
Quarterly_Tax           int64
Weight                  int64
Mfr_Guarantee           int64
BOVAG_Guarantee         int64
Guarantee_Period        int64
ABS                     int64
Airbag_1                int64
Airbag_2                int64
Airco                   int64
Automatic_airco         int64
Boardcomputer           int64
CD_Player               int64
Central_Lock            int64
Powered_Windows         int64
Power_Steering          int64
Radio                   int64
Mistlamps               int64
Sport_Model             int64
Backseat_Divider        int64
Metallic_Rim            int64
Radio_cassette          int64
Parking_Assistant       int64
Tow_Bar                 int64
dtype: object

In [32]:
cars_df['Color'] = cars_df['Color'].astype('category')

In [33]:
cars_df.dtypes

Id                      int64
Model                  object
Price                   int64
Age_08_04               int64
Mfg_Month               int64
Mfg_Year                int64
KM                      int64
Fuel_Type            category
HP                      int64
Met_Color               int64
Color                category
Automatic               int64
CC                      int64
Doors                   int64
Cylinders               int64
Gears                   int64
Quarterly_Tax           int64
Weight                  int64
Mfr_Guarantee           int64
BOVAG_Guarantee         int64
Guarantee_Period        int64
ABS                     int64
Airbag_1                int64
Airbag_2                int64
Airco                   int64
Automatic_airco         int64
Boardcomputer           int64
CD_Player               int64
Central_Lock            int64
Powered_Windows         int64
Power_Steering          int64
Radio                   int64
Mistlamps               int64
Sport_Model             int64
Backseat_Divider        int64
Metallic_Rim            int64
Radio_cassette          int64
Parking_Assistant       int64
Tow_Bar                 int64
dtype: object

In [34]:
print(cars_df['Fuel_Type'].cat.categories)
# print(housing_df.REMODEL.cat.categories)

Index(['CNG', 'Diesel', 'Petrol'], dtype='object')

In [35]:
print(cars_df['Color'].cat.categories)

Index(['Beige', 'Black', 'Blue', 'Green', 'Grey', 'Red', 'Silver', 'Violet',
       'White', 'Yellow'],
      dtype='object')

In [36]:
# housing_df = pd.get_dummies(housing_df, prefix_sep="_", drop_first=True)
cars_df = pd.get_dummies(cars_df, prefix_sep="_", drop_first=True)

In [37]:
cars_df.head(2)

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,13500,23,10,2002,46986,90,1,0,2000,...,0,0,1,0,0,0,0,0,0,0
1,2,13750,23,10,2002,72937,90,1,0,2000,...,0,0,0,0,0,0,1,0,0,0

In [22]:
cars_df.columns

Index(['Id', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM', 'HP',
       'Met_Color', 'Automatic', 'CC',
       ...
       'Fuel_Type_Petrol', 'Color_Black', 'Color_Blue', 'Color_Green',
       'Color_Grey', 'Color_Red', 'Color_Silver', 'Color_Violet',
       'Color_White', 'Color_Yellow'],
      dtype='object', length=365)

In [23]:
cars_df.dtypes

Id                                                                   int64
Price                                                                int64
Age_08_04                                                            int64
Mfg_Month                                                            int64
Mfg_Year                                                             int64
KM                                                                   int64
HP                                                                   int64
Met_Color                                                            int64
Automatic                                                            int64
CC                                                                   int64
Doors                                                                int64
Cylinders                                                            int64
Gears                                                                int64
Quarterly_Tax                                                        int64
Weight                                                               int64
Mfr_Guarantee                                                        int64
BOVAG_Guarantee                                                      int64
Guarantee_Period                                                     int64
ABS                                                                  int64
Airbag_1                                                             int64
Airbag_2                                                             int64
Airco                                                                int64
Automatic_airco                                                      int64
Boardcomputer                                                        int64
CD_Player                                                            int64
Central_Lock                                                         int64
Powered_Windows                                                      int64
Power_Steering                                                       int64
Radio                                                                int64
Mistlamps                                                            int64
                                                                     ...
Model_TOYOTA Corolla Hatchback 1.6 Terra Comfort 2/3-Doors           uint8
Model_TOYOTA Corolla LIFTBACK 1.3i Linea Luna Liftback 4/5-Doors     uint8
Model_TOYOTA Corolla LIFTBACK 1.3i Linea Terra Liftback 4/5-Doors    uint8
Model_TOYOTA Corolla LIFTBACK 1.4 16V VVTI TERRA 4/5-Doors           uint8
Model_TOYOTA Corolla LIFTBACK 1.4 VVT-i LINEA TERRA 4/5-Doors        uint8
Model_TOYOTA Corolla LIFTBACK 1.6 Linea Luna Liftback 4/5-Doors      uint8
Model_TOYOTA Corolla LIFTBACK 1.6 Linea Sol 4/5-Doors                uint8
Model_TOYOTA Corolla LIFTBACK 1.6 Linea Terra Liftback 4/5-Doors     uint8
Model_TOYOTA Corolla LIFTBACK 1.6 Linea terra 4/5-Doors              uint8
Model_TOYOTA Corolla LIFTBACK 1.6-16v Linea Luna 2/3-Doors           uint8
Model_TOYOTA Corolla LIFTBACK 1.6-16v Linea Luna 4/5-Doors           uint8
Model_TOYOTA Corolla LIFTBACK 1.9 D Linea Terra 4/5-Doors            uint8
Model_TOYOTA Corolla Liftback 1.6 VVTI 4/5-Doors                     uint8
Model_TOYOTA Corolla Linea Luna 1.6i 16V 2/3-Doors                   uint8
Model_TOYOTA Corolla Luna 5drs D4D116 PK 4/5-Doors                   uint8
Model_TOYOTA Corolla Sw 20D Linea Terra Stationwagen                 uint8
Model_TOYOTA Corolla VERSO 2.0 D4D LINEA SOL MPV                     uint8
Model_TOYOTA Corolla VERSO 2.0 D4D SOL (7) BNS MPV                   uint8
Model_TOYOTA Corolla VERSO 2.0 D4D SOL (7) MPV                       uint8
Fuel_Type_Diesel                                                     uint8
Fuel_Type_Petrol                                                     uint8
Color_Black                                                          uint8
Color_Blue                                                           uint8
Color_Green                                                          uint8
Color_Grey                                                           uint8
Color_Red                                                            uint8
Color_Silver                                                         uint8
Color_Violet                                                         uint8
Color_White                                                          uint8
Color_Yellow                                                         uint8
Length: 365, dtype: object